@use "base/reset";
@use "utils/variables" as *;
@use "layout/top-bar";
@use "components/button";
@use "layout/hero";
@use "components/logos";
@use "components/product-image";
@use "layout/features";
@use "components/feature";

body {
    font-family: $font-poppins;
    background: $color-background;
    color: $color-foreground;
    font-size: 18px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}