$font-poppins: 'Poppins', sans-serif;
$color-background: #2B2B2B;
$color-foreground: #FFFFFF;
$color-primary: #F8D57E;
$color-primary-foreground: #333333;
$color-secondary: #BFAFF2;
$color-secondary-foreground: #333333;
$color-border: #2B2B2B;
$radius-md: 15px;
$radius-lg: 20px;  
