.feature {
    text-align: center;
    flex: 1;

    img {
        margin: 0 auto;
    }

    .name {
        font-weight: 600;
        margin-top: 40px;
    }

    .desc {
        opacity: 0.4;
        margin-top: 10px;
    }
}